
<table class="table table-striped" style="width: 75%">
    <tr class="table-primary">
        <th>Title</th>
        <th>Submitter</th>
        <th>Status</th>
        <th>Owner</th>
        <% if current_user.type == "SuperUser" %>
        <th>Status</th>
        <th></th>
    </tr>
    <% @tickets.each do |ticket| %>
    <tr>
        <td><%= link_to ticket.title, ticket_path(ticket) %></td>
        <td><%= ticket.user.full_name %></td>
        <td><% if ticket.is_open %>
            Open
            <% else %>
            Closed
            <% end %>
        </td>
        <td><% if ticket.superuser %>
                <%= ticket.superuser.full_name %>
            <% else %>
                Unassigned
            <% end %>
        </td>
        <td><%= ticket.issue_type.name %></td>
        <td> <%= link_to 'Assign or Edit', edit_ticket_path(ticket) %> </td>
    </tr>
    <% end %>
</table>
<% else %>
    </tr>
    <% current_user.tickets.where(is_open: true).each do |ticket| %>
    <tr>
        <td><%= link_to ticket.title, ticket_path(ticket) %></td>
        <td><%= ticket.user.full_name %></td>
        <td><% if ticket.is_open %>
            Open
            <% else %>
            Closed
            <% end %>
        </td>
        <td><% if ticket.superuser %>
                <%= ticket.superuser.full_name %>
            <% else %>
                Unassigned
            <% end %>
        </td>
    </tr>
    <% end %>
</table>

<% end %>


